/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:rgb(219, 219, 219) ;}

.mat-card {
    color: rgb(28,137,189) !important;
    border-radius: 5% !important;
}
.mat-button-disabled {
    color: white !important;
    background-color: gray !important;
}