
<ng-template #addSynonymsModal>
  <form (ngSubmit)="addSynonyms(); onCancelModal()" [formGroup]="synonymAddForm">
    <mat-form-field style="display: block;">
      <input matInput placeholder="Synonym" formControlName="wordString" (keyup.enter)="addSynonymUsingInput(synonymAddForm.value.wordString)" >
      <button type='button' *ngIf="(synonymAddForm.value.wordString != '' && synonymAddForm.value.wordString != null)" matSuffix mat-icon-button aria-label="Clear" (click)="addSynonymUsingInput(synonymAddForm.value.wordString)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    
    <mat-label style="font-size: 80%;">Synonyms you pick are listed here:</mat-label>
    <div *ngIf="isThereExistingSynonyms">
      <mat-label style="font-size: 70%;">*There are existing synonyms in the database! 
        Synonyms you are adding belong to the same group and hence will be added as synonyms to the 
        existing words. The existing words are presented below, before the synonyms you pick.</mat-label>
      <br>
      <br>
      <button type='button' class="addRemoveSynonymButtons" mat-button *ngFor="let synonym of existingSynonyms" disabled>
        {{synonym}}
      </button>
    </div>
    <br>
    <br>
    <button type='button' class="addRemoveSynonymButtons" mat-button *ngFor="let synonym of selectedSynonyms" (click)="handleSynonymSuggestionRemove(synonym);">
      {{synonym}}
      <mat-icon style="transform: scale(0.7);">remove</mat-icon>
    </button>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-label style="font-size: 80%;">Suggestions(highest similarity):</mat-label>
    <br>
    <mat-label style="font-size: 60%;">*If you don't see your desired synonym, you can type it into the input field above</mat-label>
    <br>
    <br>
    <button type='button' class="addRemoveSynonymButtons" mat-button *ngFor="let synonym of suggestedSynonyms" (click)="handleSynonymSuggestionPick(synonym);">
      {{synonym}}
      <mat-icon style="transform: scale(0.7);">add</mat-icon>
    </button>
    <br>
    <br>
    <button type="submit" [disabled]="(selectedSynonyms.length == 0)" mat-button style="float:right; border-radius: 5px">Add synonyms</button>
  </form>
  <button type='button' (click)="onCancelModal()" mat-button style="float:right; border-radius: 5px;">Cancel</button>
</ng-template>

<mat-card class="addSynonymsContainer" *ngIf="!isWordSubmitted">
  <div>
    <h4>Please enter a word for which you want to add synonyms</h4>
    <form (ngSubmit)="getPossibleDescriptions(wordAddForm.value);" [formGroup]="wordAddForm">
        <mat-form-field style="display: block;">
          <input style="background: transparent;" matInput placeholder="Word" formControlName="wordString">
        </mat-form-field>
        <button mat-button type="submit" [disabled]="!wordAddForm.valid">Submit</button>
    </form>
  </div>
</mat-card>

<mat-card class="addSynonymsContainer" *ngIf="isWordSubmitted">
    <h4> Please choose the description that best fits your word: ({{wordSelected}})</h4>
    <br>
    <mat-divider></mat-divider>
    <button class="descriptionButton" mat-button *ngFor="let description of possibleDescriptions" (click)="getPotentialSynonyms(description); openModal(addSynonymsModal);">
      {{description}}
      <br>
    </button>
    <mat-divider style="margin-top:2%"></mat-divider>
    <br>
    <br>
    <br>
    <button style="margin-left: 2%;" mat-button (click)="isWordSubmitted = false; synonymAddForm.reset()">
      Cancel
    </button>
</mat-card>